@import '../../styles.scss';

body
{
    font-family: $font-family2;
}


/*start header*/
header
{
    .not-found
    {
        background-image: url(../../assets/images/b.jpg);
        transform: rotateY(180deg) !important;
        background-size: 100% 100%;
        width: 100% !important;
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
        .route
        {
            font-family: $font-family1;
            transform: rotateY(180deg);
            text-align: center;
            h1
            {
                font-size: 300px;
                color: $firstColor;
                p 
                {
                    font-size: $fontSize2+10;
                    font-weight: $fontWeight1;
                    text-align: center;
                    color: $fourColor;
                }
            }
        }
        @extend .all ;
        button
        {
            background-color: $secondColor !important;
            color: $mainColor !important;
            box-shadow: none ;
        }
        button:hover
        {
            background-color: transparent !important;
            color: $secondColor !important;
        }
    }
    
}
/*end header*/

/*media query from 576 to 300*/
@media(max-width:576px) and (min-width:350px)
{
    .route
    {
        
        h1
        {
            font-size: 200px !important;
          
            p 
            {
                font-size: $fontSize2+5 !important;
            
            }
        }
    }
}


/*media query from 576 to 300*/

/*media query from max-widht 300*/
@media(max-width:350px)
{
    .route
    {
        
        h1
        {
            font-size: 120px !important;
          
            p 
            {
                font-size: $fontSize1+5 !important;
            
            }
        }
    }
}


/*media query from max-width 300*/