/* You can add global styles to this file, and also import other style files */


$firstColor: #19bcdb ;
$secondColor:#ec5c42;
$thridColor: #222;
$fourColor: #11333a;
$mainColor: #fff;
$fiveColor:#919899;
$fontSize3:40px;
$fontSize2:20px;
$fontSize1:16px;
$fontWeight1:500;
$fontWeight2:700;
$fontWeight3:900;

$font-family1: 'Roboto', sans-serif;
$font-family2: "segoe ui light";



.brdr 
{
    border: solid 1px $fiveColor;
    width: 100%;
}

.all
{
    button
    {
     padding: 10px  40px !important ;
     border: 1px solid $secondColor !important;
     color: $secondColor !important;
     font-size: $fontSize1;
     font-weight: $fontWeight1;
     transition: all .5s;
    }
    button:hover 
    {
     background-color: $secondColor !important;
     color: $mainColor !important;
     
    }
}


.top
{
    position: fixed;
}