@import '../../styles.scss';




body {
    overflow: hidden;
    overflow-x: hidden !important;
    font-family:$font-family2 ;
    
  }
  /*start section slick carousel*/
  .slick
  {

      font-family: 'segoe ui light';

      .slick-img .img1
      {
          background-image: url("../../assets/images/slide01.jpg");
          background-size: 100% 100%;
          width: 100%;
          height: 640px;
      }
      .slick-img .img2
      {
          background-image: url("../../assets/images/slide02.jpg");
          background-size: 100% 100%;
          width: 100%;
          height: 640px;
      }
      
      .slick-img .img3
      {
          background-image: url("../../assets/images/slide03.jpg");
          background-size: 100% 100%;
          width: 100%;
          height: 640px;
      }
      
      .rgb 
      {
          background-color: rgba(0, 0, 0, .6);
          width: 100%;
          height: 100%;
      }
      
      .slick-carousel
      {
          position: relative;
          .slick-caption1 
          {
             position: absolute;
             top: 25%;
             left: 22%;
             text-align: center;
            
          }
          .slick-caption2
          {
             position: absolute;
             top: 25%;
             left: 30%;
              text-align: center;
          }
          .slick-caption3
          {
             position: absolute;
             top: 25%;
             left: 27%;
             text-align: center;
           
          }
          h5 
          {
              font-size: $fontSize2 + 10;
              font-weight: $fontWeight1;
          }
          h2
          {
              font-size: $fontSize3 + 30;
              font-weight: $fontWeight1 + 100;
              color: $firstColor;
          }
          p
          { 
              font-size: $fontSize1+2;
              font-weight: $fontWeight1;
              padding-top: 15px;
          }
          .btn 
          {
              background-color: transparent;
              color: $secondColor;
              border: 2px solid $secondColor;
              padding: 15px;
              font-size: $fontSize1;
              font-weight: $fontWeight1 + 100;
              transition: all 1s;

          }

          .btn:hover  
          {
              background-color: $secondColor;
              color: $mainColor;
          }
      }
  }
/*end section slick carousel*/

/*start section Our site*/

.section-header h2
{
    color: $fourColor !important;
    font-size: $fontSize3;
}
.text-center{
border-radius: 7px;
i
{
    color: $firstColor;
    transition: all .5s;
    font-weight: 200 !important;
}
i:hover
{
    color: $secondColor;
}
h4
{
    transition: all .5s; 
}
h4:hover
{
    color: $secondColor;
    
}
p
{
    font-size: $fontSize1;
}

button
{
     padding: 10px  40px !important ;
     border: 1px solid $secondColor !important;
     color: $secondColor !important;
     font-size: $fontSize1;
     font-weight: $fontWeight1;
}
.bg
{
    background-color: $secondColor !important;
    color: $mainColor !important;
}
button:hover 
{
     background-color: $secondColor !important;
     color: $mainColor !important;
}

}

/*end section Our site*/


/* start section See our products*/

 .product
 {
    
    .parallax-window {
        min-height: 620px;
        background-color: rgba(2, 3, 3, 0.6);
        
    }
    .product-caption
    {
        @extend .all;
        h2
        {
            font-size: $fontSize3;
            font-weight: 700;
            font-family: $font-family2;

        }
        .btn-outline-danger
        {
            padding: 15px 20px !important;
        }
        .prodcut-p1
        {
            color: $firstColor;
            
        }
        .prodcut-p2
        {
            color: $fiveColor;
            
        }
    }
    .product-img
    {
        img 
        {
            border-radius: 10px;
            
        }
    }
    .col-md
    {
        cursor: pointer;
        img 
        {
            border-radius: 10px;
        }
    }
 }
 .full-width
 {
     background-color: rgba(0, 0, 0, .6);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 999999;
     display: none;
    .mins-width
    {
        background-image: url(../../assets/images/h.jpg);
        width: 50%;
        height: 70%;
        background-size: 100% 100%;
        transition: all .5s;
        position: relative;
       
        .fa-window-close
        {
            position: absolute;
            top: 10px; 
            right: 20px;
        }
        i
        {
            background-color: rgba(26, 25, 25, 0.6);
            padding: 10px;
            color: #fff;
            cursor: pointer;
        }
    }
 }

/* end section See our products*/


/*start section why choose */

.choose-content
{
    @extend .all;
    
    h3 
    {
        font-size: 40px;
        color: $fourColor;
        font-family: $font-family2;
    }
    i
    {
        padding: 10px;
        background-color: $firstColor;
        font-size: 25px;
        color: $mainColor;
        border-radius: 4px;
        transition: all .5s;
        cursor: pointer;
    }
    
    .media-body
    {
        h5 
        {
            font-size: $fontSize2;
            color: $fourColor;
            transition: all .3s;
            cursor: pointer;
        }
        h5:hover 
        {
            color: $secondColor;
        }
        p
        {
            font-size: $fontSize1;
            color: $fiveColor;
            font-family: $font-family2;
        }
    }
    
}

.choose-content:hover i 
{
    background-color: $secondColor;
    color: $mainColor;
}


/*end section why choose */


/*start section progress*/

.progress
{
    background-image: linear-gradient(to right , $firstColor , $secondColor);
    width: 100%;
    height:auto;
    
    .col-lg
    {
        position: relative;
    }

    .circle strong 
    {
        position: absolute;
        top: 30px;
        right: 21%;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
    }
    .circle p
    {
        font-size: 17px;
        font-family: $font-family2;
        color: #fff;
        position: relative;

    }
    .circle
    {
        .p1 
        {
            
            right: 12px !important;
        }
        .p2
        {
            
            right: 27px !important;
        }
        .p3
        {
           
            right: 10px !important;
        }
        .p4
        {
            
            left:  5px !important;
        }
        .p5
        {
            
            right: 20px !important;
        }
    } 


}

/*end section progress*/


/*start section pipeline*/

.pipeline
{
    width: 100%;
    background-color: $fourColor;
    background-size: 100% 100%;
    height: 978px;  

    .pipe-cover
    {
        width: 100%;
        height: 978px;
        background-image: url(../../assets/images/pipeline.png);
        background-position-x: 50%;
        background-position-y: 50% ;
        background-size: cover;

        .pipe-content
        {
            h2
            {
                font-size: $fontSize3;
                font-weight: $fontWeight1 +100;
            }
            .pipe-p1
            {
                font-weight: $fontWeight1 +100;
                color: $firstColor;
            }
            .pipe-p2
            {
                font-weight: 400;
                color: $fiveColor;
            }
        }
        .pipe-caption
        {
           background-color: $mainColor;
           border-radius: 10px;
           
           p 
           {
               font-weight: $fontWeight1 ;
               font-size: $fontSize3;
               color: $secondColor;
           }
        }
        .pipe-caption:hover
        {
            background-color: $secondColor;
            p
            {
                color: $mainColor;
            }
        }
    }
}

/*end section pipeline*/

/*start section Recent-content*/

.Recent-content
{
    
    .recent-h3
    {
        font-size: $fontSize2+20px;
        font-weight: $fontWeight1+100;
        color: $fourColor;
    }
    .card
    {
        border-radius: 10px;
        .card-header
      {
        button
        {
            box-shadow: none !important;
        }
        
        position: relative;
        background-color: transparent ; 
        background-color: rgb(206, 202, 202);
        .card-header1
        {
            
            color: $mainColor;
        }
        .card-header2
        {
            color: $fourColor;

        }
        .posit
        {
            position: absolute;
            right: 15px;
            bottom: 15px;
            color:  rgb(138, 135, 135);
        }
      }
      .card-header:hover
      {
          background-color: $secondColor;
          .card-header1
        {
            color: $fourColor;
        }
        .card-header2
        {
            color: $mainColor;
        }
        .posit
        {
            color: $mainColor;
        }
        

      }
    }

    .recent-caption
    {
        position: relative;
        img 
        {
            border-radius: 10px;
        }
        .recent-cover
        {
            position: absolute;
            background-color: rgba(0, 0, 0, .6);
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            .cover-head
            {
                padding: 1px 15px;
                background-color: $firstColor;
                width: 15%;
                border-bottom-right-radius: 10px;
                color: $mainColor;
                p
                {
                    position: relative;
                    bottom: 10px;
                }
            }
            .cover-footer
            {
                position: absolute;
                bottom: 10px;
                left: 25px;
                color: $mainColor;     
                h5 
                {
                    color: $firstColor;
                }
                p
                {
                    font-size: 13px;
                }
                h5:hover ,  p:hover
                {
                    color: $secondColor;
                    transition: all .3s;
                }
            }
            .cover-footer-right
            {
                position: absolute;
                right: 23px;
                bottom: 25px;
                color: $mainColor;
            }
            .cover-footer-right:hover
            {
                color: $secondColor;
                transition: all .3s;
            }

        }
    }
}
  

/*end section Recent-content*/

/*start section testimonials */

.testimonials
{
    .parallax
     {
	    min-height: 620px;
        background-color: rgba(0, 2, 2, 0.6);
        .test-head
        {
           h2 
           {
            font-size: $fontSize3+5;
           }
        }
        .slider
        {
            
            .card
            {
                padding: 10px 0px;
                background-color: transparent !important;
                border: solid 3px $mainColor;
                text-align: center;
                font-style: italic;
                letter-spacing: 1;
                transition: all 0.5 !important;
               .card-body
               {
                  .card-text
                  {
                      color: grey;
                  }
                  h5
                  {
                      color: $firstColor;
                      font-size: $fontSize2;
                      font-weight: $fontWeight2;
                  }
                  p 
                  {
                      color: $secondColor;
                      font-weight: $fontWeight1;
                  }
                  
               }
                
                img 
                {
                    border-radius: 50%;
                    max-width: 120px;
                    margin: auto !important;
                   
                    
                }
            }
            .card:hover
            {
                background-color: $mainColor !important;
                h5 
                {
                    color: $firstColor !important;
                }
            }
        }
            
   }

}

/*end section testimonials */

/*start section contact*/

.contact
{
    
    background-image: url(../../assets/images/map-texture.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 60px !important;
    .contact-head
    {
        h2 
        {
            font-size: $fontSize3+5px;
            color: $fourColor;
        }
    }
    .contact-content
    {
        input 
        {
            height: 50px;
            font-size: 18px;
            border: 2px solid #e7eaeb;
            font-style: italic;
            color: #1f232b;
        }
        .text-area
        {
            font-size: 18px;
            border: 2px solid #e7eaeb;
            font-style: italic;
            color: #1f232b;
        }
    }
    @extend .all;
    button 
    {
        border: solid 2px $secondColor !important;
        padding: 10px 25px !important;
    }

}

/*end section contact*/



/*start section carousel*/

.carousel
{
    background-image: linear-gradient(to right , $firstColor , $secondColor);
    width: 100%;
    height: 200px;
   .center
   {
      padding-top: 70px !important;
      cursor: pointer;
   }
}

/*end section carousel*/
















/*start media query 1200 to 1024 */

@media (max-width : 1200px) and (min-width :1024px)
{
    /*start section progress*/
    .circle strong 
    {
        right: 15% !important;  
    }
    /*end section progress*/
    .pipe-caption
    {
        padding-right: 10px !important;
        h5 
       {
           font-size: 18px !important;
       }
    }
}


/*end media query 1200 to 1024 */


/* start media query 1024 to 992*/
@media (max-width : 1024px) and (min-width :992px)
{
    .slick-carousel
    {
        position: relative;
        .slick-caption1
        {
            position: absolute;
            right: 30%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2+15 !important;
            }
            h2 
            {
                
                font-size: $fontSize3+20 !important;
                
            }
            p
            {
                font-size: $fontSize2;
            }
            
        }
        .slick-caption2
        {
            position: absolute;
            right: 30%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2 +15 !important;
            }
            h2 
            {
                
                font-size: $fontSize3+20 !important;
                
            }
            p
            {
                font-size: $fontSize2;
            }
            
        }
        .slick-caption3
        {
            position: absolute;
            right: 30%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2+15 !important;
            }
            h2 
            {
                
                font-size: $fontSize3 +18 !important;
                
            }
            p
            {
                font-size: $fontSize2;
            }
            
        }
    }
    /*start section progress*/
    .circle strong 
    {
        right: 15% !important;  
    }
    /*end section progress*/
    .pipe-caption
    {
        padding: 20px !important;
       h5 
       {
           font-size: 16px !important;
       }
       .mb-3
       {
           margin-bottom: 10px !important;
       }
    }
}
/* end media query 1024 to 992*/

/* start media query 992 to 768*/

@media (max-width : 992px) and (min-width : 768px)
{
    

    .slick-carousel
    {
        position: relative;
        .slick-caption1
        {
            position: absolute;
            right: 25%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2+10 !important;
            }
            h2 
            {
                
                font-size: $fontSize3+10 !important;
                
            }
            p
            {
                font-size: $fontSize2;
            }
            
        }
        .slick-caption2
        {
            position: absolute;
            right: 27%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2 +10 !important;
            }
            h2 
            {
                
                font-size: $fontSize3+10 !important;
                
            }
            p
            {
                font-size: $fontSize2;
            }
            
        }
        .slick-caption3
        {
            position: absolute;
            right: 25%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2+8 !important;
            }
            h2 
            {
                
                font-size: $fontSize3 +8 !important;
                
            }
            p
            {
                font-size: $fontSize2;
            }
            
        }
    }
    .center-content
    {
        margin: auto !important;
    }
    .product-caption
    {
    
        .prodcut-p1
        {
            font-size: 14px !important;

        }
        .prodcut-p2
        {
            font-size: 14px !important;

        }
        .btn-outline-danger
        {
            font-size: 14px !important;
            padding: 10px 20px !important;
        }
        .full-width
        {
            .mins-width
            {
               width: 100% !important;
               height: 30% !important;
            }
        }
    }
    /*start section progress*/
    .row
    {
        .col-lg 
        {
            position: relative;
            left: 16% !important;
            margin-bottom: 10px;
            .five
            {
                position: relative;
                left: 50% !important;
            }
        }
        .circle strong 
        {
           right: 32% !important;  
        }
    }
    /*end section progress*/
    .pipeline
    {
        .pipe-cover
        {
            background-image: none;
        }
        .pipe-caption
        {
            margin-bottom: 20px !important;
            h5
            {
                font-size: $fontSize1;
            }
        }
    }
    /*start section testimonials*/
    .testimonials
    {
        h2
        {
            font-size: $fontSize2+15 !important;
        }
        .card
        {
            margin: auto !important;
        }
    }
   /*end section testimonials*/

   
}

/* end media query 992 to 768*/


/* start media query 768 to 576*/

@media (max-width : 768px) and (min-width : 576px)
{
    
    .slick-carousel
    {
        position: relative;
        .slick-caption1
        {
            position: absolute;
            right: 20%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2 !important;
            }
            h2 
            {
                
                font-size: $fontSize3 !important;
                
            }
            p
            {
                font-size: $fontSize1+2;
            }
            
        }
        .slick-caption2
        {
            position: absolute;
            right: 20%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2 !important;
            }
            h2 
            {
                
                font-size: $fontSize3 !important;
                
            }
            p
            {
                font-size: $fontSize1+2;
            }
            
        }
        .slick-caption3
        {
            position: absolute;
            right: 20%;
            text-align: center;
            h5 
            {
                font-size: $fontSize2 !important;
            }
            h2 
            {
                
                font-size: $fontSize3 !important;
                
            }
            p
            {
                font-size: $fontSize1+2;
            }
            
        }
    }
    /*start section progress*/
    .row
    {
        .col-lg 
        {
            position: relative;
            left: 40% !important;
            margin-bottom: 10px;
            
        }
        .circle strong 
        {
           right: 38% !important;  
        }
    }
    /*end section progress*/

    .pipeline
    {
        
        .pipe-cover
        {
            background-image: none;
            padding-bottom: 60px !important;
        }
        
        .pipe-caption
        {
            margin-bottom: 20px !important;
            h5
            {
                font-size: $fontSize1;
            }
        }
    }

    /*start section testimonials*/
    .testimonials
    {
        h2
        {
            font-size: $fontSize2+15 !important;
        }
        .card
        {
            margin: auto !important;
        }
    }
    /*end section testimonials*/

  
}

/* end media query 768 to 576*/

/* start media query 576 to 450*/
@media (max-width : 576px) and (min-width :450px)
{
    .slick-carousel
    {
        position: relative;
        .slick-caption1
        {
            position: absolute;
            right: 20%;
            text-align: center;
            h5 
            {
                font-size: $fontSize1 +2 !important;
            }
            h2 
            {
                
                font-size: 30px !important;
                
            }
            p
            {
                font-size: $fontSize1;
            }
            
        }
        .slick-caption2
        {
            position: absolute;
            right: 20%;
            text-align: center;
            h5 
            {
                font-size: $fontSize1 +2 !important;
            }
            h2 
            {
                
                font-size: 30px !important;
                
            }
            p
            {
                font-size: $fontSize1;
            }
            
        }
        .slick-caption3
        {
            position: absolute;
            right: 20%;
            text-align: center;
            h5 
            {
                font-size: $fontSize1 +2 !important;
            }
            h2 
            {
                
                font-size: 30px !important;
                
            }
            p
            {
                font-size: $fontSize1;
            }
            
        }
    }
    /*start section progress*/
    .row
    {
        .col-lg 
        {
            position: relative;
            left: 40% !important;
            margin-bottom: 10px;
            
        }
        .circle strong 
        {
           right: 37% !important;  
        }
    }
    /*end section progress*/
    .pipeline
    {
        height: 100% !important;
        
        .pipe-cover
        {
            background-image: none;
            height: auto !important;
            
        }
        .pipe-content .pipe-p2
        {
            font-size: 15px;
        }
       
        .pipe-caption
        {
            margin-bottom: 20px !important;
            width: 90%;
            h5
            {
                font-size: $fontSize2;
            }
        }
    }
    /*start section testimonials*/
    .testimonials
    {
        h2
        {
            font-size: $fontSize2+15 !important;
        }
        .card
        {
            margin: auto !important;
        }
    }
   /*end section testimonials*/
   

}
/* end media query max-width*/

/* start media query 450to 300*/
@media (max-width : 450px) and (min-width:300px)
{

    .slick-carousel
    {
        position: relative;
        .slick-caption1
        {
            position: absolute;
            top: 10%;
            right: 20%;
            text-align: center;
            h5 
            {
                font-size: $fontSize1 !important;
            }
            h2 
            {
                
                font-size: 25px !important;
                
            }
            p
            {
                font-size: 14px;
            }
            
        }
        .slick-caption2
        {
            position: absolute;
            right: 20%;
            top: 10%;
            text-align: center;
            h5 
            {
                font-size: $fontSize1 !important;
            }
            h2 
            {
                
                font-size: 25px !important;
                
            }
            p
            {
                font-size:14px;
            }
            
        }
        .slick-caption3
        {
            position: absolute;
            right: 20%;
            top: 10%;

            text-align: center;
            h5 
            {
                font-size: $fontSize1 !important;
            }
            h2 
            {
                
                font-size: 25px !important;
                
            }
            p
            {
                font-size: 14px;
            }
            
            
            
        }
        .btn
        {
            padding: 5px !important;
        }
    }
     /*start section Our Site*/
     .section-header
     {
         h2
         {
             font-size: $fontSize2+10;
         }
     }
    /*end section Our Site*/

    .full-width
    {
        .mins-width 
        {
            height: 20% !important;
            width: 100% !important;
        }
    }
    /*start section progress*/
    .row
    {
        .col-lg 
        {
            position: relative;
            left: 40% !important;
            margin-bottom: 10px;
            
        }
        .circle strong 
        {
           right: 33% !important;  
        }
    }
    /*end section progress*/
    .pipeline
    {
        height: 100% !important;
        
        .pipe-cover
        {
            background-image: none;
            height: auto !important;
            
        }
        .pipe-content .pipe-p2
        {
            font-size: 15px;
        }
        .pipe-caption
        {
            margin-bottom: 20px !important;
            width: 90%;
            h5
            {
                font-size: $fontSize2;
            }
        }
    }    
    .Recent-content
    {
        .card-header1
        {
            h2 
            {
                font-size: $fontSize2 +10;
            }
        }
        .card-header2
        {
            h4
            {
                font-size: $fontSize1;
            }
            p 
            {
                font-size: 12px;
            }
        }
        .cover-head
        {
            width: 30% !important;
        }
        .recent-h3
        {
            font-size: $fontSize2+10;
        }
    }
    /*start section testimonials*/
    .testimonials
    {
        h2
        {
            font-size: $fontSize2+10 !important;
        }
        .card
        {
            margin: auto !important;
            
            width: 80% !important;
            .card-body
            {
                .card-text
                {
                    font-size: 14px !important;
                }
            }
        }
    }
    /*end section testimonials*/

    /*start section contact*/
    .contact
    {
        h2 
        {
            font-size: $fontSize2+10 !important;
        }
    }
    /*end section contact*/
}
/* end media query 450 to 300*/

/* start media query 300 to zero*/

@media(max-width :300px) and (min-width: 0px)
{
    /*start section Our Site*/
    .section-header
    {
        h2
        {
            font-size: $fontSize2+10;
        }
    }
   /*end section Our Site*/

   /*start section progress*/
    .row
    {
        .col-lg 
        {
            position: relative;
            left: 30% !important;
            margin-bottom: 10px;
            
        }
        .circle strong 
        {
           right: 28% !important;  
        }
    }
    /*end section progress*/
    .pipeline
    {
        height: 100% !important;
        
        .pipe-cover
        {
            background-image: none;
            height: auto !important;      
        }
        .pipe-content .pipe-p2
        {
            font-size: 15px;
        }
        .pipe-caption
        {
            margin-bottom: 20px !important;
            width: 90%;
            h5
            {
                font-size: $fontSize2;
            }
        }
    } 
    .Recent-content
    {
        .card-header1
        {
            h2 
            {
                font-size: $fontSize2 +10;
            }
        }
        .card-header2
        {
            h4
            {
                font-size: $fontSize1;
            }
            p 
            {
                font-size: 12px;
            }
        }
        .cover-head
        {
            width: 30% !important;
        }
        .recent-h3
        {
            font-size: $fontSize2+10;
        }
    }
    /*start section testimonials*/
    .testimonials
    {
        h2
        {
            font-size: $fontSize2+10 !important;
        }
        .card
        {
            margin: auto !important;
            
            width: 80% !important;
            .card-body
            {
                .card-text
                {
                    font-size: 14px !important;
                }
            }
        }
    }
    /*end section testimonials*/
    .contact
    {
        h2 
        {
            font-size: $fontSize2+10 !important;
        }
    }
}


/* end media query 300 to zero*/